<section>
  <div class="container about-container">
    <div class="about-text-container">
    <h2 class="about-caption">About Us</h2>
    
      <p class="about-paragraf">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes to life
        with new zest and style.
        Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance of traditional
        needlework and modern design.
      </p>
      <p class="about-paragraf">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to modern,
        corresponding to the latest
        fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified craftsmen who
        convey
        the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing one's individuality. Each embroidery from
        "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.
      </p>
    </div>
    <div class="about-img-class">
      <img srcset="./img/about/girl-and-boy-mobile.webp    335w,
          ./img/about/girl-and-boy-mobile@2x.webp          670w,
          ./img/about/girl-and-boy-tablet.webp             704w,
          ./img/about/girl-and-boy-tablet@2x.webp          1408w,
          ./img/about/girl-and-boy-desktop.webp            594w,
          ./img/about/girl-and-boy-desktop@2x.webp         1188w,
          ./img/about/girl-and-boy-maxdesktop.webp         709w,
          ./img/about/girl-and-boy-maxdesktop@2x.webp      1418w"
        sizes="(max-width:767px) 335px, (max-width: 1279px) 704px, (max-width: 1439px) 594px, (min-width: 1440px) 705px"
        src="./img/about/girl-and-boy-desktop.webp" alt="vishivanka" loading="lazy">
    </div>
  </div>
</section>
