<section class="collection" id="collection">
  <div class="container collection-container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-card-list">
      <li class="collection-card-item">
        <div class="collection-card-wrapper">
          <img
            class="collection-card-img"
            srcset="
              ./img/collection-img/collection-image-1-desktop-max@2x.webp 800w,
              ./img/collection-img/collection-image-1-desktop-max.webp    400w,
              ./img/collection-img/collection-image-1-desktop@2x.webp     694w,
              ./img/collection-img/collection-image-1-desktop.webp        347w,
              ./img/collection-img/collection-image-1-tablet@2x.webp      684w,
              ./img/collection-img/collection-image-1-tablet.webp         342w,
              ./img/collection-img/collection-image-1-mobile@2x.webp      670w,
              ./img/collection-img/collection-image-1-mobile.webp         335w
            "
            sizes=" (min-width: 1440px) 400px,
            (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection-img/collection-image-1-mobile.webp"
            alt="August Poltava women's blousering"
            loading="lazy"
          />

          <div class="collection-card-overlay">
            <p class="collecrion-overlay-paragraph">
              As we developed this style, our inspiration came from the vintage
              Vyshyvanka blouses originating in the Volyn region, located in
              western Ukraine. These traditional blouses often use a combination
              of red and black threads, which are symbolic of affection for the
              Earth, the Sun, and life itself.
            </p>

            <a class="card-overlay-btn" href="#order">
              Order
              <svg class="collection-order-icon" width="26" height="10">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="collection-card-caption">
          <h3 class="card-title">AUGUST Poltava women's blouseRING</h3>
          <p class="card-paragraph">3300 UAH</p>
        </div>
      </li>
      <li class="collection-card-item">
        <div class="collection-card-wrapper">
          <img
            class="collection-card-img"
            srcset="
              ./img/collection-img/collection-image-2-desktop-max@2x.webp 800w,
              ./img/collection-img/collection-image-2-desktop-max.webp    400w,
              ./img/collection-img/collection-image-2-desktop@2x.webp     694w,
              ./img/collection-img/collection-image-2-desktop.webp        347w,
              ./img/collection-img/collection-image-2-tablet@2x.webp      684w,
              ./img/collection-img/collection-image-2-tablet.webp         342w,
              ./img/collection-img/collection-image-2-mobile@2x.webp      670w,
              ./img/collection-img/collection-image-2-mobile.webp         335w
            "
            sizes=" (min-width: 1440px) 400px,
            (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection-img/collection-image-2-mobile.webp"
            alt="Women's blouse Gorgany"
            loading="lazy"
          />

          <div class="collection-card-overlay">
            <p class="collecrion-overlay-paragraph">
              As we developed this style, our inspiration came from the vintage
              Vyshyvanka blouses originating in the Volyn region, located in
              western Ukraine. These traditional blouses often use a combination
              of red and black threads, which are symbolic of affection for the
              Earth, the Sun, and life itself.
            </p>

            <a class="card-overlay-btn" href="#order">
              Order
              <svg class="collection-order-icon" width="26" height="10">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="collection-card-caption">
          <h3 class="card-title">Women's blouse Gorgany</h3>
          <p class="card-paragraph">3350 UAH</p>
        </div>
      </li>
      <li class="collection-card-item">
        <div class="collection-card-wrapper">
          <img
            class="collection-card-img"
            srcset="
              ./img/collection-img/collection-image-3-desktop-max@2x.webp 800w,
              ./img/collection-img/collection-image-3-desktop-max.webp    400w,
              ./img/collection-img/collection-image-3-desktop@2x.webp     694w,
              ./img/collection-img/collection-image-3-desktop.webp        347w,
              ./img/collection-img/collection-image-3-tablet@2x.webp      684w,
              ./img/collection-img/collection-image-3-tablet.webp         342w,
              ./img/collection-img/collection-image-3-mobile@2x.webp      670w,
              ./img/collection-img/collection-image-3-mobile.webp         335w
            "
            sizes=" (min-width: 1440px) 400px,
          (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection-img/collection-image-3-mobile.webp"
            alt="Mountain men's shirt"
            loading="lazy"
          />

          <div class="collection-card-overlay">
            <p class="collecrion-overlay-paragraph">
              As we developed this style, our inspiration came from the vintage
              Vyshyvanka blouses originating in the Volyn region, located in
              western Ukraine. These traditional blouses often use a combination
              of red and black threads, which are symbolic of affection for the
              Earth, the Sun, and life itself.
            </p>

            <a class="card-overlay-btn" href="#order">
              Order
              <svg class="collection-order-icon" width="26" height="10">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="collection-card-caption">
          <h3 class="card-title">Mountain men's shirt</h3>
          <p class="card-paragraph">3300 UAH</p>
        </div>
      </li>
      <li class="collection-card-item">
        <div class="collection-card-wrapper">
          <img
            class="collection-card-img"
            srcset="
              ./img/collection-img/collection-image-4-desktop-max@2x.webp 800w,
              ./img/collection-img/collection-image-4-desktop-max.webp    400w,
              ./img/collection-img/collection-image-4-desktop@2x.webp     694w,
              ./img/collection-img/collection-image-4-desktop.webp        347w,
              ./img/collection-img/collection-image-4-tablet@2x.webp      684w,
              ./img/collection-img/collection-image-4-tablet.webp         342w,
              ./img/collection-img/collection-image-4-mobile@2x.webp      670w,
              ./img/collection-img/collection-image-4-mobile.webp         335w
            "
            sizes=" (min-width: 1440px) 400px,
        (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection-img/collection-image-4-mobile.webp"
            alt="Men's shirt Yasen"
            loading="lazy"
          />

          <div class="collection-card-overlay">
            <p class="collecrion-overlay-paragraph">
              As we developed this style, our inspiration came from the vintage
              Vyshyvanka blouses originating in the Volyn region, located in
              western Ukraine. These traditional blouses often use a combination
              of red and black threads, which are symbolic of affection for the
              Earth, the Sun, and life itself.
            </p>

            <a class="card-overlay-btn" href="#order">
              Order
              <svg class="collection-order-icon" width="26" height="10">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="collection-card-caption">
          <h3 class="card-title">Men's shirt Yasen</h3>
          <p class="card-paragraph">1700 UAH</p>
        </div>
      </li>
      <li class="collection-card-item">
        <div class="collection-card-wrapper">
          <img
            class="collection-card-img"
            srcset="
              ./img/collection-img/collection-image-5-desktop-max@2x.webp 800w,
              ./img/collection-img/collection-image-5-desktop-max.webp    400w,
              ./img/collection-img/collection-image-5-desktop@2x.webp     694w,
              ./img/collection-img/collection-image-5-desktop.webp        347w,
              ./img/collection-img/collection-image-5-tablet@2x.webp      684w,
              ./img/collection-img/collection-image-5-tablet.webp         342w,
              ./img/collection-img/collection-image-5-mobile@2x.webp      670w,
              ./img/collection-img/collection-image-5-mobile.webp         335w
            "
            sizes=" (min-width: 1440px) 400px,
        (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection-img/collection-image-5-mobile.webp"
            alt="Women's blouse Crimea"
            loading="lazy"
          />

          <div class="collection-card-overlay">
            <p class="collecrion-overlay-paragraph">
              As we developed this style, our inspiration came from the vintage
              Vyshyvanka blouses originating in the Volyn region, located in
              western Ukraine. These traditional blouses often use a combination
              of red and black threads, which are symbolic of affection for the
              Earth, the Sun, and life itself.
            </p>

            <a class="card-overlay-btn" href="#order">
              Order
              <svg class="collection-order-icon" width="26" height="10">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="collection-card-caption">
          <h3 class="card-title">Women's blouse Crimea</h3>
          <p class="card-paragraph">4000 UAH</p>
        </div>
      </li>
      <li class="collection-card-item">
        <div class="collection-card-wrapper">
          <img
            class="collection-card-img"
            srcset="
              ./img/collection-img/collection-image-6-desktop-max@2x.webp 800w,
              ./img/collection-img/collection-image-6-desktop-max.webp    400w,
              ./img/collection-img/collection-image-6-desktop@2x.webp     694w,
              ./img/collection-img/collection-image-6-desktop.webp        347w,
              ./img/collection-img/collection-image-6-tablet@2x.webp      684w,
              ./img/collection-img/collection-image-6-tablet.webp         342w,
              ./img/collection-img/collection-image-6-mobile@2x.webp      670w,
              ./img/collection-img/collection-image-6-mobile.webp         335w
            "
            sizes=" (min-width: 1440px) 400px,
      (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection-img/collection-image-6-mobile.webp"
            alt="Men's shirt Verkhovina"
            loading="lazy"
          />

          <div class="collection-card-overlay">
            <p class="collecrion-overlay-paragraph">
              As we developed this style, our inspiration came from the vintage
              Vyshyvanka blouses originating in the Volyn region, located in
              western Ukraine. These traditional blouses often use a combination
              of red and black threads, which are symbolic of affection for the
              Earth, the Sun, and life itself.
            </p>

            <a class="card-overlay-btn" href="#order">
              Order
              <svg class="collection-order-icon" width="26" height="10">
                <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="collection-card-caption">
          <h3 class="card-title">Men's shirt Verkhovina</h3>
          <p class="card-paragraph">3100 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
