<footer class="footer-section">
  <div class="container footer-conteiner">
    <div class="footer-pagination">
      <ul class="footer-pagination-list">
        <li class="footer-pagination-item">
          <a class="footer-pagination-link" href="#about_us">About us</a>
        </li>
        <li class="footer-pagination-item">
          <a class="footer-pagination-link" href="#collection">Our collection</a>
        </li>
        <li class="footer-pagination-item">
          <a class="footer-pagination-link" href="#order">Customer order</a>
        </li>
        <li class="footer-pagination-item">
          <a class="footer-pagination-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </div>
    <p class="footer-slogan">A touch of <span class="footer-accent">Ukrainian</span> culture in every embroidery</p>
  </div>
</footer>
