<header class="header-top">
  <div class="container header-container">
    <nav>
      <a href="./header.html">
        <img src="./img/images-header/logo.svg" width="44"
        height="39" alt="logo">
      </a>
      <ul class="menu-list">
        <li><a href="" class="navigation-header">ABOUT US</a></li>
        <li><a href="" class="navigation-header">OUR COLLECTION</a></li>
        <li><a href="" class="navigation-header">CUSTOMER ORDER</a></li>
        <li><a href="" class="navigation-header">TESTIMONIALS</a></li>
      </ul>
    </nav>
    <div>
      <a href="tel:+380684439426" class="link-phone">+380 (68) 443-94-26</a>
    </div>
    <ul class="list-social">
      <li class="item-social">
        <a class="link-social" href="https://www.facebook.com/goITclub/">
          <svg class="icons-social" width="28" height="28">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="item-social">
        <a class="link-social" href="https://www.instagram.com/goitclub/">
          <svg class="icons-social" width="28" height="28">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="item-social">
        <a class="link-social" href="https://www.youtube.com/c/GoIT">
          <svg class="icons-social" width="28" height="28">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="open-mobile-btn">
      <svg class="open-mobile-icon" width="36" height="24" aria-label="mobile-menu open">
        <use class="icon-burger" href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
