<header>
  <div class="container header-container">
    <nav class="nav">
      <a href="./header.html">
        <img src="./img/header/logo.svg" width="44" height="39" alt="logo" />
      </a>
      <ul class="menu-list">
        <li><a href="" class="navigation-header">ABOUT US</a></li>
        <li><a href="" class="navigation-header">OUR COLLECTION</a></li>
        <li><a href="" class="navigation-header">CUSTOMER ORDER</a></li>
        <li><a href="" class="navigation-header">TESTIMONIALS</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <a href="tel:+380684439426" class="link-phone">+380 (68) 443-94-26</a>
      <ul class="list-social">
        <li class="item-social">
          <a class="link-social" href="https://www.facebook.com/goITclub/">
            <svg class="icons-social" width="28" height="28">
              <use
                class="icons-svg"
                href="./img/sprite.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="item-social">
          <a class="link-social" href="https://www.instagram.com/goitclub/">
            <svg class="icons-social" width="28" height="28">
              <use
                class="icons-svg"
                href="./img/sprite.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="item-social">
          <a class="link-social" href="https://www.youtube.com/c/GoIT">
            <svg class="icons-social" width="28" height="28">
              <use class="icons-svg" href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="open-mobile-btn" type="button">
        <svg
          class="open-mobile-icon"
          width="36"
          height="24"
          aria-label="mobile-menu open"
        >
          <use class="icon-burger" href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<div class="mobile-menu">
  <div class="contacts-link-wrapper">
    <a href="tel:+380684439426" class="link-phone-menu">+380 (68) 443-94-26</a>
    <button class="mobile-menu-close" type="button">
      <svg
        class="mobile-close-icon"
        width="18"
        height="18"
        aria-label="mobile menu close icon"
      >
        <use href="./img/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>
  </div>
  <nav>
    <ul class="mobile-list-m">
      <li><a class="mobile-menu-list-item" href="">ABOUT US</a></li>
      <li><a class="mobile-menu-list-item" href="">OUR COLLECTION</a></li>
      <li><a class="mobile-menu-list-item" href="">CUSTOMER ORDER</a></li>
      <li><a class="mobile-menu-list-item" href="">TESTIMONIALS</a></li>
    </ul>
  </nav>
</div>
