<section>
  <div class="container hero-container">
    <div class="title-button-img-container">
      <div class="title-button-container">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-title addition">Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a class="anchor-link" href="#order"
          >Order
          <span
            ><svg
              class="icon-order-pointer"
              width="26"
              height="10"
              aria-label="order pointer"
            >
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
      <img
        class="hero-photo-girl"
        srcset="
          ../img/hero/hero-girl-desktop@1x.jpg 392w,
          ../img/hero/hero-girl-desktop@2x.jpg 784w,
          ../img/hero/hero-girl-tablet@1x.jpg  413w,
          ../img/hero/hero-girl-tablet@2x.jpg  726w,
          ../img/hero/hero-girl-mobile@1x.jpg  335w,
          ../img/hero/hero-girl-mobile@2x.jpg  670w
        "
        sizes="(min-width:1280px) 392px, (min-width:768px) 413px,
               (max-width:767px) 335px"
        src="../img//hero/hero-girl-mobile@1x.jpg"
        alt="girl in embroidered shirt"
        loading="lazy"
      />
    </div>
    <div class="star-text-img-container">
      <div class="star-text-container">
        <svg class="icon-star" width="52" height="51" aria-label="icon star">
          <use href="../img/sprite.svg#icon-star"></use>
        </svg>
        <p class="hero-text">all embroidery is made by hand</p>
      </div>
      <img
        class="hero-photo-embroidery-ukraine"
        srcset="
          ../img/hero/embroidery-ukraine@1x.jpg 1x,
          ../img/hero/embroidery-ukraine@2x.jpg 2x
        "
        alt="photo embroidery ukraine"
        src="../img/hero/embroidery-ukraine@1x.jpg"
        loading="lazy"
      />
    </div>
  </div>
</section>
