
<section class="order" id="order">
     <div class="order-green-shirt-img"></div>
<div class="order-wrapper container">
  <div class="order-form-wrapper">
  <h2 class="order-title"><span class="accent-colour">Your order</span> is our priority: Personalized approach and quality of service</h2>
   <form class="contact-user-form">
    <div class="contact-form-wrapper">
    <label class="contact-label" for="user-name"></label>
      <div class="contact-form-input-wrapper">
         <input 
          class="contact-input" 
          type="text" 
          id="user-name"
          name="user-name"
          pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐ']+"
          title="Maria"
          placeholder="Enter your full name"
          required
        />
      </div>
    </div>

  <div class="contact-form-wrapper">
    <label class="contact-label" for="user-email"></label>
  
       <div class="contact-form-input-wrapper">  
       <input 
          class="contact-input" 
          type="email" 
          id="user-email"
          name="user-email"
          placeholder="Enter your email"
          required 
        />
      </div>     
  </div>

  <div class="contact-form-comments-wrapper">
    <label class="contact-label" for="user-comment"></label>
  
        <textarea
        class="comment-input" 
        name="user-comment"
        id="user-comment"
        placeholder="Comments"
        ></textarea>
   </div>  
          <button class="order-button" type="submit">
             SEND
              <svg 
              class="order-btn-icon"
              width="26"
              height="10"
              aria-label="button-arrow">
              <use href="./img/sprite.svg#icon-arrow"></use>
              </svg>
          </button>
       </form>
  </div>

    <div class="order-image-wrapper">   
       <img 
       class="order-gilet-icon"
       srcset="

       ./img/order-img/gilet-desktop524.webp     524w,
       ./img/order-img/gilet-desktop1048@2x.webp 1048w,
       ./img/order-img/gilet-tablet638.webp      638W,
       ./img/order-img/gilet-tablet1276@2x.webp  1276w"
               
             
   sizes="(min-width: 1440px) 638px, (min-width: 1280px) 638px, (min-width: 768px) 524px"
       src="./img/order-img/gilet-desktop524.webp"
       alt="Shirt and gilet foto"
       loading="lazy"> 

       <div class="order-ornament"></div>
    </div>
    
       
</div>

</div>

</section>





