.collection {
}

.collection-container {
  background-image: url(/img/collection-img/background-element-mobile.webp);
  background-repeat: no-repeat;
  background-size: 72px;
  background-position: 0 11%;
}

@media screen and (min-resolution: 192dpi) {
  .collection-container {
    background-image: url(/img/collection-img/background-element-mobile@2x.webp);
  }
}

.collection-title {
  text-align: center;
  color: var(--white);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.96px;
}

.collection-card-item {
  width: 280px;
}

.collection-card-item:not(:last-child) {
  margin-bottom: 20px;
}

.collection-card-img {
  border-radius: 4px;
}

.collection-card-caption {
  padding-top: 18px;
}

.card-title {
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.card-pharagraph {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 375px) {
  .collection-card-item {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .collection-container {
    background-image: url(/img/collection-img/background-element-tablet.webp);
    background-size: 116px;
    background-position: 0 17%;
  }

  @media screen and (min-resolution: 192dpi) {
    .collection-container {
      background-image: url(/img/collection-img/background-element-tablet@2x.webp);
    }
  }

  .collection-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .card-pharagraph {
    font-size: 18px;
  }

  .collection-card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .collection-card-item {
    width: 342px;
  }

  .collection-card-item:not(:last-child) {
    margin-bottom: 0px;
  }

  .card-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .collection-container {
    background-image: url(/img/collection-img/background-element-desktop.webp);
    background-size: 169px;
    background-position: 0 27%;
  }

  @media screen and (min-resolution: 192dpi) {
    .collection-container {
      background-image: url(/img/collection-img/background-element-desktop@2x.webp);
    }
  }

  .collection-card-list {
    row-gap: 40px;
    column-gap: 19px;
  }

  .collection-card-item {
    width: 347px;
  }
}

@media screen and (min-width: 1440px) {
  .collection-card-item {
    width: 400px;
  }
}
