html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
  font-size: 14px;
  font-weight: 400;
}

/* SECTION STYLES */
section {
  padding-top: 40px;
  padding-bottom: 40px;
}
header {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  header {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  header {
    margin-bottom: 25px;
  }
}

h2 {
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  header {
    padding-top: 18px;
  }
}
