.hero-title {
  color: var(--white, #fcf9f9);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
.addition {
  color: var(--yellow, #ecd979);
}
.anchor-link {
  color: var(--white, #fcf9f9);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  width: 155px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 40px;
  margin-left: 70px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.anchor-link:hover,
.anchor-link:focus {
  border: 1px solid var(--yellow, #ecd979);
}

.icon-order-pointer {
}

.hero-photo-girl {
}

.star-text-img-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-container {
    display: flex;
  }

  .hero-title {
    font-size: 54px;
    margin-top: 20px;
  }

  .star-text-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .star-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  .icon-star {
  }
  .hero-text {
    color: rgba(252, 249, 249, 0.4);
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.04em;
    text-align: center;
  }
  .hero-photo-embroidery-ukraine {
    max-width: 138px;
  }
}

@media screen and (min-width: 1280px) {
  .title-button-img-container {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 40px;
  }

  .title-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .anchor-link {
    margin-left: 140px;
  }
}
