.testimonials-page-title {
  color: var(--white);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 64px;
}
.testimonials-list-card {
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding-right: 22px;
  padding-left: 22px;
  padding-bottom: 18px;
}
.testimonials-list-card-img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: -24px;
  margin-bottom: 14px;
  box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
  border-radius: 64px;
}
.testimonials-list-card-title {
  color: var(--white);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
}
.testimonials-list-card-text {
  color: var(--primary);
  text-align: center;
  font-size: 14px;
  line-height: normal;
  /* letter-spacing: -0.04em; */
}

@media screen and (max-width: 767px) {
  .testimonials-list-card:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .testimonials-list-card:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .testimonials-page-title {
    font-size: 44px;
    line-height: 1.45;
  }
  .testimonials-list {
    display: flex;
    gap: 32px;
  }
  .testimonials-list-card {
    flex-basis: calc((100% - 32px) / 2);
  }
  .testimonials-list-card-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials-list {
    gap: 26px;
  }
  .testimonials-list-card {
    flex-basis: calc((100% - 2 * 26px) / 3);
    padding-right: 19px;
    padding-left: 19px;
  }
}
